{% extends 'base/layout.html' %}

{% block body %}
<body>
    <link rel="stylesheet" type="text/css" href="../../static/tool/timeline.css">


<section id="cd-timeline" class="cd-container">
        {% for article in article_list %}
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="../../static/image/cd-icon-location.svg" alt="Location">
            </div>

            <div class="cd-timeline-content">
                <h2>{{ article.title | safe}}</h2>
                <p>{{ article.abstract | safe}}</p>
                <a href="{{ article.url }}" class="cd-read-more" target="_blank">阅读全文</a>
                <span class="cd-date">2014-12-05</span>
            </div>
        </div>

        {% endfor %}
</section>
</body>
{% endblock %}
