{% extends "base/layout.html" %}

{% block header %}
<header>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {#    由于会产生冲突，因此需要特定的bootstrap#}
    <link href="../../static/bootstrap/css/bootstrap.spcial.css" rel="stylesheet">
    <script src="../../static/bootstrap/js/jquery.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
</header>
{% endblock %}

{% block body %}
{{ text | safe }}
<script>
    var height = $('#navbar').height();
    $('#sidebar').css({marginTop:height});
    $('#page-container').css({marginTop:height});
    document.getElementById("nav-article").className = "active";
</script>
{% endblock %}