<div class="col-md-4">
    <div class="input-group">
        <input type="text" class="form-control" onkeydown="onKeyDown()">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                状态 <span
                    class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#">状态</a></li>
                <li><a href="#">任务id</a></li>
                <li><a href="#">执行机器</a></li>
            </ul>
        </div>
    </div>
</div>