<div class="col-md-4">
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                任务id <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-left" role="menu">
                <li><a href="#">任务id</a></li>
                <li><a href="#">任务名</a></li>
                <li><a href="#">执行命令</a></li>
                <li><a href="#">执行机器</a></li>
                <li><a href="#">用户组</a></li>
            </ul>
        </div>
        <input type="text" class="form-control" onkeydown="onKeyDown()">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default ">
                <span class="glyphicon glyphicon-search"></span> &nbsp;</button>
        </div>
    </div>
</div>