[db]
URI = mysql+mysqldb://name:password@host:port/nazgrim?charset=utf8

[secret]
key = anything_you_wanna

[uwsgi]
socket = 127.0.0.1:5000
chdir = /path/to/nazgrim
wsgi-file = manage.py
callable = app
processes = 4
threads = 2

[program:nazgrim]
command=env PATH="/path/to/uwsgi" uwsgi /path/to/nazgrim/nazgrim.ini
directory=/path/to/nazgrim
user=root
autostart=true
autorestart=true
stdout_logfile=/path/to/nazgrim/log/request.log
