[program:nazgrim]
command=uwsgi /path/to/git/apps/nazgrim/config/uwsgi.ini
directory=/path/to/git/apps/nazgrim
user=root
autostart=true
autorestart=true
stdout_logfile=/path/to/git/apps/nazgrim/log/request.log


[program:chin]
command=uwsgi /path/to/git/apps/chin/config/uwsgi.ini
directory=/path/to/git/apps/chin
user=root
autostart=true
autorestart=true
stdout_logfile=/path/to/git/apps/chin/log/request.log
