<div align="center">
    <nav>
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </nav>
</div>
<footer class="bs-docs-footer" role="contentinfo" style="padding-top: 2%; padding-bottom: 2%; color: darkgray">
    <hr>
    <div class="container" style="text-align: center">
        Copyright © Nazgrim.com | <a href="http://www.miitbeian.gov.cn/" style=" text-decoration: none;color:darkgray;">京ICP备16015493号</a>
    </div>
</footer>