<html>
{% block header %}
{% include 'base/header.html' ignore missing %}
{% endblock %}

{% block nav %}
{% include 'base/nav.html' ignore missing %}
{% endblock %}

<div class="container-fluid">
    <div class="row">

        <div class="google col-md-2">
            <nav class="navbar-fixed-top" style="margin-top: 50px;height: 100%">
                <ul>
                    <li class="store"><span class="store-icon"></span><a href="/">任务列表</a></li>
                    <li class="movies"><span class="movies-icon"></span><a href="/routine_log">执行日志</a></li>
                    <li class="music"><span class="music-icon"></span><a href="#">操作日志</a></li>
                    <li class="books"><span class="books-icon"></span><a href="#">权限管理</a></li>
                    <li class="magazines"><span class="magazines-icon"></span><a href="#">工具箱</a></li>
                    <li class="devices"><span class="devices-icon"></span><a href="#">Devices</a></li>
                </ul>
            </nav>
        </div>

        <div class="col-md-10">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
{% block footer %}
{% include 'base/footer.html' ignore missing %}
{% endblock %}


</html>