{% extends 'base/layout.html' %}

{% block body %}
<body onload="fadeIn()">
<script>
    document.getElementById("nav-home").className = "active";
    function fadeIn() {
        $('.shadowBox').fadeIn(1000);
    }
</script>


<div class="container">
    <div class="row">
        <div class="col-md-8">

            {% if current_user.is_authenticated %}
            <div id="txtEditor"></div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#txtEditor").Editor();
                });
            </script>
            {% endif %}

            {% for note in notes %}
            <div class="shadowBox">
                <div align="right" style="margin-top: -5%">
                    {% if current_user.is_authenticated %}
                    <h2><a class="glyphicon glyphicon-bookmark" href="/delete_note?id={{ note.id }}"
                           style="text-decoration: none"></a></h2>
                    {% else %}
                    <h2><span class="glyphicon glyphicon-bookmark"></span></h2>
                    {% endif %}
                </div>
                <div class="span2">
                    {{ note.content | safe }}<br>
                    <hr>
                </div>
                <div align="right" class="span2">
                    <span class="glyphicon glyphicon-time" aria-hidden="true">{{ note.create_time }}</span>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="col-md-4" style="">
            <div class="shadowBox">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span> About Me
                <hr>
                <div align="center"><img src="../static/image/4.jpg" alt="..." class="img-circle" height="150px"
                                         width="150px"><br></div>
                <br>
                <div class="span2">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每年，有大约五十万头程序猿由于背锅而造成人身财产的损失，现在，程序猿已被列入互联网濒危物种。 <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;那些背锅的程序猿中，有些被HR用来当挡箭牌，有些被高层用来做企业图腾。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;即使是没有背锅的程序猿，也被用来从事各种高强度劳动。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;没有买卖，就没有杀害！<br><br></div>
            </div>

            <div class="shadowBox">
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Tags
                <hr>
                <span class="label label-success">information</span>
                <span class="label label-info">machine learning</span>
                <span class="label label-warning">machine learning</span>
                <span class="label label-danger">machine learning</span>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}



