{% extends 'base/layout.html' %}
{% block body %}
<br>
<div class="row">
    {% include 'action/search_task.html' ignore missing %}
    {% include 'action/new_task.html' ignore missing %}
</div><br>
<hr>

<table class="table table-hover  table-striped" style="box-shadow: 10px 10px 5px #888888">
    <thead>
    <tr>
        <th width="10%">任务id</th>
        <th width="30%">任务名</th>
        <th width="20%">机器池</th>
        <th width="10%">调度时间</th>
        <th width="10%">父任务</th>
        <th width="10%">子任务</th>
        <th width="20%">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>10</td>
        <td title="python jd_source.py">京东日常数据抽取[source]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:10:00</td>
        <td>
        </td>
        <td>
            <a class="btn btn-info btn-xs">11</a>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>11</td>
        <td title="python jd_transform.py">京东日常数据抽取[transform]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:20:00</td>
        <td>
            <a class="btn btn-info btn-xs">10</a>
        </td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>

    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>

    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>

    </tbody>
</table>
<div align="center">
    <nav>
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </nav>
</div>
{% endblock %}