{% extends 'base/layout.html' %}


{% block body %}


<div class="row">
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control" onkeydown="onKeyDown()">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    任务id <span
                        class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#">任务id</a></li>
                    <li><a href="#">状态</a></li>
                    <li><a href="#">执行机器</a></li>
                </ul>
            </div>
        </div>
    </div>




    <div class="col-md-1">
        <a data-toggle="modal" data-target="#new_task" class="btn btn-info">新建</a>
    </div>
    <div class="modal fade" id="new_task" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" align="center">
            <div class="modal-content" style="width: 50%" align="left">
                <div class="modal-header"><h4 class="modal-title">新建任务</h4></div>
                <form name="login_form" method="post" action="/auth/login" role="form">
                    <div class="modal-body">
                        继承任务ID<input type="text" name="extend_id" class="form-control">
                        任务名<input type="text" name="user_name" class="form-control" >
                        执行命令<input type="text" name="password" class="form-control">
                        是否启用
                        <select class="form-control">
                            <option>是</option>
                            <option>否</option>
                        </select>
                        优先级
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                        机器池<input type="text" name="password" class="form-control" >
                        父任务<input type="text" name="password" class="form-control" >
                        调度形式
                        <div class="input-group">
                            <div class="input-group-btn">
                                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                                    <li><a href="#" >每日</a></li>
                                    <li><a href="#" >每周</a></li>
                                    <li><a href="#" >每月</a></li>
                                    <li><a href="#" >每年</a></li>
                                    <li><a href="#" >一次</a></li>
                                </ul>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">每日<span class="caret"></span></button>
                            </div>
                            <input type="text" class="form-control" onkeydown="onKeyDown()">
                        </div>
                    </div>
                    <input id="page_url" type="hidden" value="null" name="next">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>
<hr>

<table class="table table-hover  table-striped" style="box-shadow: 10px 10px 5px #888888">
    <thead>
    <tr>
        <th width="10%">任务id</th>
        <th width="30%">任务名</th>
        <th width="20%">机器池</th>
        <th width="10%">调度时间</th>
        <th width="10%">父任务</th>
        <th width="10%">子任务</th>
        <th width="20%">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>10</td>
        <td title="python jd_source.py">京东日常数据抽取[source]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:10:00</td>
        <td>
        </td>
        <td>
            <a class="btn btn-info btn-xs">11</a>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>11</td>
        <td title="python jd_transform.py">京东日常数据抽取[transform]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:20:00</td>
        <td>
            <a class="btn btn-info btn-xs">10</a>
        </td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>

    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>

    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>
    <tr>
        <td>12</td>
        <td title="python jd_subject.py">京东日常数据抽取[subject]</td>
        <td>
            <button class="btn btn-default btn-xs">slave_1</button>
            <button class="btn btn-default btn-xs">slave_2</button>
            <button class="btn btn-default btn-xs">slave_3</button>
        </td>
        <td title="day">00:30:00</td>
        <td>
            <a class="btn btn-info btn-xs">12</a>
        </td>
        <td>
        </td>
        <td>
            <a class="btn btn-danger btn-xs">删除</a>
            <a class="btn btn-success btn-xs">编辑</a>
        </td>
    </tr>

    </tbody>
</table>
<div align="center">
    <nav>
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </nav>
</div>
{% endblock %}