<div class="input-group-btn">
    <select class="form-control">
        <option>0时</option>
        <option>1时</option>
        <option>2时</option>
        <option>3时</option>
        <option>4时</option>
        <option>5时</option>
        <option>6时</option>
        <option>7时</option>
        <option>8时</option>
        <option>9时</option>
        <option>10时</option>
        <option>11时</option>
        <option>12时</option>
        <option>13时</option>
        <option>14时</option>
        <option>15时</option>
        <option>16时</option>
        <option>17时</option>
        <option>18时</option>
        <option>19时</option>
        <option>20时</option>
        <option>21时</option>
        <option>22时</option>
        <option>23时</option>
    </select>
</div>