<div class="input-group-btn scheduled_hour">
    <select class="form-control">
        <option value="0">0时</option>
        <option value="1">1时</option>
        <option value="2">2时</option>
        <option value="3">3时</option>
        <option value="4">4时</option>
        <option value="5">5时</option>
        <option value="6">6时</option>
        <option value="7">7时</option>
        <option value="8">8时</option>
        <option value="9">9时</option>
        <option value="10">10时</option>
        <option value="11">11时</option>
        <option value="12">12时</option>
        <option value="13">13时</option>
        <option value="14">14时</option>
        <option value="15">15时</option>
        <option value="16">16时</option>
        <option value="17">17时</option>
        <option value="18">18时</option>
        <option value="19">19时</option>
        <option value="20">20时</option>
        <option value="21">21时</option>
        <option value="22">22时</option>
        <option value="23">23时</option>
    </select>
</div>