<div class="input-group-btn">
    <select class="form-control">
        <option>0分</option>
        <option>1分</option>
        <option>2分</option>
        <option>3分</option>
        <option>4分</option>
        <option>5分</option>
        <option>6分</option>
        <option>7分</option>
        <option>8分</option>
        <option>9分</option>
        <option>10分</option>
        <option>11分</option>
        <option>12分</option>
        <option>13分</option>
        <option>14分</option>
        <option>15分</option>
        <option>16分</option>
        <option>17分</option>
        <option>18分</option>
        <option>19分</option>
        <option>20分</option>
        <option>21分</option>
        <option>22分</option>
        <option>23分</option>
        <option>24分</option>
        <option>25分</option>
        <option>26分</option>
        <option>27分</option>
        <option>28分</option>
        <option>29分</option>
        <option>30分</option>
        <option>31分</option>
        <option>32分</option>
        <option>33分</option>
        <option>34分</option>
        <option>35分</option>
        <option>36分</option>
        <option>37分</option>
        <option>38分</option>
        <option>39分</option>
        <option>40分</option>
        <option>41分</option>
        <option>42分</option>
        <option>43分</option>
        <option>44分</option>
        <option>45分</option>
        <option>46分</option>
        <option>47分</option>
        <option>48分</option>
        <option>49分</option>
        <option>50分</option>
        <option>51分</option>
        <option>52分</option>
        <option>53分</option>
        <option>54分</option>
        <option>55分</option>
        <option>56分</option>
        <option>57分</option>
        <option>58分</option>
        <option>59分</option>
    </select>
</div>
