<div class="input-group-btn scheduled_minute">
    <select class="form-control">
        <option value="0">0分</option>
        <option value="1">1分</option>
        <option value="2">2分</option>
        <option value="3">3分</option>
        <option value="4">4分</option>
        <option value="5">5分</option>
        <option value="6">6分</option>
        <option value="7">7分</option>
        <option value="8">8分</option>
        <option value="9">9分</option>
        <option value="10">10分</option>
        <option value="11">11分</option>
        <option value="12">12分</option>
        <option value="13">13分</option>
        <option value="14">14分</option>
        <option value="15">15分</option>
        <option value="16">16分</option>
        <option value="17">17分</option>
        <option value="18">18分</option>
        <option value="19">19分</option>
        <option value="20">20分</option>
        <option value="21">21分</option>
        <option value="22">22分</option>
        <option value="23">23分</option>
        <option value="24">24分</option>
        <option value="25">25分</option>
        <option value="26">26分</option>
        <option value="27">27分</option>
        <option value="28">28分</option>
        <option value="29">29分</option>
        <option value="30">30分</option>
        <option value="31">31分</option>
        <option value="32">32分</option>
        <option value="33">33分</option>
        <option value="34">34分</option>
        <option value="35">35分</option>
        <option value="36">36分</option>
        <option value="37">37分</option>
        <option value="38">38分</option>
        <option value="39">39分</option>
        <option value="40">40分</option>
        <option value="41">41分</option>
        <option value="42">42分</option>
        <option value="43">43分</option>
        <option value="44">44分</option>
        <option value="45">45分</option>
        <option value="46">46分</option>
        <option value="47">47分</option>
        <option value="48">48分</option>
        <option value="49">49分</option>
        <option value="50">50分</option>
        <option value="51">51分</option>
        <option value="52">52分</option>
        <option value="53">53分</option>
        <option value="54">54分</option>
        <option value="55">55分</option>
        <option value="56">56分</option>
        <option value="57">57分</option>
        <option value="58">58分</option>
        <option value="59">59分</option>
    </select>
</div>
