<div class="input-group-btn">
    <select class="form-control">
        <option>0秒</option>
        <option>1秒</option>
        <option>2秒</option>
        <option>3秒</option>
        <option>4秒</option>
        <option>5秒</option>
        <option>6秒</option>
        <option>7秒</option>
        <option>8秒</option>
        <option>9秒</option>
        <option>10秒</option>
        <option>11秒</option>
        <option>12秒</option>
        <option>13秒</option>
        <option>14秒</option>
        <option>15秒</option>
        <option>16秒</option>
        <option>17秒</option>
        <option>18秒</option>
        <option>19秒</option>
        <option>20秒</option>
        <option>21秒</option>
        <option>22秒</option>
        <option>23秒</option>
        <option>24秒</option>
        <option>25秒</option>
        <option>26秒</option>
        <option>27秒</option>
        <option>28秒</option>
        <option>29秒</option>
        <option>30秒</option>
        <option>31秒</option>
        <option>32秒</option>
        <option>33秒</option>
        <option>34秒</option>
        <option>35秒</option>
        <option>36秒</option>
        <option>37秒</option>
        <option>38秒</option>
        <option>39秒</option>
        <option>40秒</option>
        <option>41秒</option>
        <option>42秒</option>
        <option>43秒</option>
        <option>44秒</option>
        <option>45秒</option>
        <option>46秒</option>
        <option>47秒</option>
        <option>48秒</option>
        <option>49秒</option>
        <option>50秒</option>
        <option>51秒</option>
        <option>52秒</option>
        <option>53秒</option>
        <option>54秒</option>
        <option>55秒</option>
        <option>56秒</option>
        <option>57秒</option>
        <option>58秒</option>
        <option>59秒</option>
    </select>
</div>