<div class="input-group-btn">
    <select class="form-control">
        <option>2016年</option>
        <option>2017年</option>
        <option>2018年</option>
        <option>2019年</option>
        <option>2020年</option>
        <option>2021年</option>
        <option>2022年</option>
        <option>2023年</option>
        <option>2024年</option>
        <option>2025年</option>
        <option>2026年</option>
        <option>2027年</option>
        <option>2028年</option>
        <option>2029年</option>
        <option>2030年</option>
        <option>2031年</option>
        <option>2032年</option>
        <option>2033年</option>
        <option>2034年</option>
        <option>2035年</option>
        <option>2036年</option>
        <option>2037年</option>
        <option>2038年</option>
        <option>2039年</option>
        <option>2040年</option>
        <option>2041年</option>
        <option>2042年</option>
        <option>2043年</option>
        <option>2044年</option>
        <option>2045年</option>
        <option>2046年</option>
        <option>2047年</option>
        <option>2048年</option>
        <option>2049年</option>
        <option>2050年</option>
    </select>
    <button class="btn btn-default ">
        <span>占位符</span>
    </button>
</div>